In [17]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import metrics

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inLine

In [23]:
df=pd.read_csv("C:/Users/lenovo/Downloads/RELIANCE.NS (1).csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-03-05,2156.000000,2211.949951,2153.050049,2178.699951,2171.713623,11773630
1,2021-03-08,2168.500000,2231.899902,2168.000000,2191.100098,2184.073975,9002404
2,2021-03-09,2200.000000,2213.800049,2146.600098,2191.050049,2184.024170,6993792
3,2021-03-10,2207.000000,2215.100098,2170.250000,2181.949951,2174.953369,5316182
4,2021-03-12,2195.000000,2206.399902,2123.899902,2137.600098,2130.745605,7783173
...,...,...,...,...,...,...,...
242,2022-02-25,2280.100098,2307.949951,2276.250000,2283.949951,2283.949951,6724094
243,2022-02-28,2243.000000,2367.350098,2243.000000,2359.550049,2359.550049,9828768
244,2022-03-02,2334.449951,2401.000000,2329.199951,2398.550049,2398.550049,9909226
245,2022-03-03,2400.000000,2414.850098,2370.050049,2378.300049,2378.300049,4701183
246,2022-03-04,2353.000000,2364.300049,2320.350098,2325.550049,2325.550049,4986325

In [19]:
reg=linear_model.LinearRegression()

In [28]:
reg.fit(df[['High','Low','Close','Volume']],df.Open)

LinearRegression()

In [33]:
reg.predict([[2364.3,2320.35,2325.55,4986325]])

array([2357.41913245])